html,body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #000;
}
#container{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
#viewer{
	position: relative;
	width: 100vmin;
	height: 100vmin;
}
#viewer > *{
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#viewer > canvas{
	z-index: 100;
}

#radioArea{
	position: fixed;
	font-size: 45px;
	z-index: 1000;
	background-color: white;
	padding: 5px;
	border-radius: 3px;
}
.radio{
	display: none;
}

#radioArea label{
	margin: 2px;
	border: 2px #888 solid;
	border-radius: 5px;
}
label span{
	color: #888;
}
.radio:checked + span{
	color: black;
}
